<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stoic Quotes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quotes 4 Life</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-list>
      <ion-item *ngFor=" let item of DataList ">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{item.school}}</ion-card-subtitle>
            <ion-card-title>{{item.qtr}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            
              <ion-icon name="megaphone-outline" slot="start"></ion-icon>

              <p>{{item.qt}}</p>
              <ion-button fill="outline" slot="end">Profile</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-content>
